<p id="notice"><%= notice %></p>

<h1>U Times</h1>

<table>
  <thead>
    <tr>
      <th>Hours</th>
      <th>Mins</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @u_times.each do |u_time| %>
      <tr>
        <td><%= u_time.hours %></td>
        <td><%= u_time.mins %></td>
        <td><%= link_to 'Show', u_time %></td>
        <td><%= link_to 'Edit', edit_u_time_path(u_time) %></td>
        <td><%= link_to 'Destroy', u_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New U Time', new_u_time_path %>
